/*
~~ ~~ ~~ ~~ ~~ ~~
~~ WOFI CONFIG ~~
~~ ~~ ~~ ~~ ~~ ~~
*/

window {
	margin: 0;
	padding: 0;
	box-shadow: none;
	border: 1px solid #92a2d5;
	background-color: #161617;
}

#input {
	margin: 5px;
	border: none;
	border-radius: 0px;
	color: #c9c7cd;
	background-color: #353539;
	font-family: "karla", sans-serif;
	font-size: 20px;
}

#input:focus {
	box-shadow: 0px 0px 0px 1px #c9c7cd inset;
}

#inner-box {
	margin: 5px;
	border: none;
	background-color: #161617;
}

#outer-box {
	margin: 5px;
	border: none;
	background-color: #161617;
}

#scroll {
	margin: 0px;
	border: none;
}

#text {
	margin: 5px;
	border: none;
	color: #c9c7cd;
	font-family: "karla", sans-serif;
	font-size: 18px;
}

#entry:selected {
	background-color: #353539;
	color: #90b99f;
}

#entry:selected #text {
	color: #90b99f;
}
