* {
	border: none;
	border-radius: 0;
	min-height: 0;
	font-family: "karla", sans-serif;
	font-weight: 500;
	font-size: 18px;
	padding: 0;
}

window#waybar {
	background: #161617;
}

tooltip {
	background-color: #161617;
	border: 1px solid #27272a;
}

#tray,
#battery,
#custom-brightness,
#cpu,
#memory,
#network,
#pulseaudio,
#clock,
#custom-power {
	padding: 2px 8px;
}

#workspaces {
	background-color: #27272a;
}

#workspaces button {
	all: initial;
	min-width: 0;
	padding: 2px 8px;
	color: #92a2d5;
	border-bottom: 2px solid transparent;
}

#workspaces button.active,
#workspaces button:active,
#workspaces button:hover {
	color: #c9c7cd;
	border-bottom: 2px solid #c9c7cd;
}

#workspaces button.urgent {
	color: #c9c7cd;
	border-bottom: 2px solid #ea83a5;
}

#window {
	padding: 2px 8px;
	background-color: #27272a;
	color: #c9c7cd;
}

#clock,
#tray {
	background-color: #27272a;
	color: #92a2d5;
}

#battery,
#custom-brightness,
#cpu,
#memory,
#network,
#pulseaudio {
	background-color: #27272a;
	color: #c9c7cd;
}

#custom-power {
	background-color: #27272a;
	color: #ea83a5;
}

#memory.critical,
#battery.warning,
#battery.critical,
#battery.urgent {
	color: #ea83a5;
}
